.dart_tool/
android/
ios/
linux/
macos/
web/
windows/
build/
rust/
rust_builder/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.vuepress/dist
node_modules/
