name: Build and Release Android/FDroid

on:
  workflow_dispatch:
  workflow_call:
  push:
    tags:
      - zkool-v*

permissions:
  contents: write

env:
  RELEASE_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || github.head_ref || github.ref_name }}
  JKS_PASSWORD: ${{ secrets.JKS_PASSWD }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install codesign
        run: |
          echo ${{ secrets.ANDROID_JKS }} | base64 --decode > android/app/zkool-keystore.jks
          echo storePassword=${{ secrets.ANDROID_JKS_PWD }} > android/keystore.properties
          echo keypassword=${{ secrets.ANDROID_JKS_PWD }} >> android/keystore.properties
          echo keyAlias=zkool >> android/keystore.properties
          echo storeFile=zkool-keystore.jks >> android/keystore.properties
      - name: Build
        run: flutter build apk
      - name: Upload dmg artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./**/*.apk
      - name: Create Release
        if: startsWith(github.ref_name, 'zkool-v')
        uses: softprops/action-gh-release@v2
        with:
          files: ./*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
